<app-main>
  <div class="container-fluid">
    <div class="row">
      <div class="col mt-3 text-center">
        <h3>Your current books</h3>
      </div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col mt-3 text-center" *ngIf="books.length === 0">
        <span class="p-3 bg-light">No books yet, <a href="/books/search">try searching one</a> </span>
      </div>
      <div class="col col-sm-12 col-md-10 col-lg-10 table-responsive" *ngIf="books.length > 0">
        <table class="table table-sm table-striped">
          <thead class="thead-light">
            <tr>
              <th scope="col"></th>
              <th scope="col">Title</th>
              <th scope="col" class="d-none d-sm-table-cell">ISBN</th>
              <th scope="col" class="d-none d-sm-table-cell">Published at</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of books">
              <td class="text-center align-middle">
                <button class="btn btn-sm btn-primary" (click)="checkin(book)">Check in</button>
              </td>
              <td class="align-middle">{{ book.title }}</td>
              <td class="d-none d-sm-table-cell align-middle">{{ book.isbn }}</td>
              <td class="d-none d-sm-table-cell align-middle">{{ book.published_at }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</app-main>
