.login-container {
  background-color: rgb(27, 27, 29);
  .card {
    background: transparent;
  }
  .card-header {
    background-color: rgba(240, 240, 255, 0.6);
  }
  .card-body {
    background-color: rgba(240, 240, 255, 0.87);
  }
}
